<div class="form-container">
  <div class="header">
    <h1>New Survey</h1>
    <button mat-raised-button
            color="primary"
            (click)="createSurvey()"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>

  <form [formGroup]="surveyForm" class="form" (ngSubmit)="createSurvey()">
    <div class="form-options">
      <mat-form-field floatLabel="always">
        <mat-label>Title</mat-label>
        <input matInput type="text" [formControl]=titleControl>

        <mat-error *ngIf="titleControl.hasError('required')">
          Please add a title.
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="categoryControl">
          <mat-option *ngFor="let option of categories"
                      [value]="option">
            {{option}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="categoryControl.hasError('required')">
          Please select a category.
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field floatLabel="always" class="textarea">
      <mat-label>Description</mat-label>
      <textarea matInput [formControl]="descriptionControl"></textarea>

      <mat-error *ngIf="descriptionControl.hasError('required')">
        Please add a description.
      </mat-error>
    </mat-form-field>

    <div class="questions-container">
      <h2>Questions</h2>

      <div formArrayName="questions" class="questions">
        <div *ngFor="let question of questions().controls; index as i">
          <div [formGroupName]="i" class="questions-group">
            <mat-form-field floatLabel="always">
              <mat-label>Question {{i + 1}}</mat-label>
              <input type="text" matInput formControlName="text">
            </mat-form-field>

            <button mat-icon-button (click)="removeQuestion(i)">
              <mat-icon>remove</mat-icon>
            </button>

            <div formArrayName="answers" class="answers">
              <div *ngFor="let answer of answersByQuestion(i).controls; index as j">
                <div [formGroupName]="j" class="answers-group">
                  <mat-form-field floatLabel="always">
                    <mat-label>Answer {{j + 1}}</mat-label>
                    <input type="text" matInput formControlName="text">
                  </mat-form-field>

                  <button mat-icon-button (click)="removeAnswerByQuestion(i, j)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>

            <button mat-raised-button color="accent" class="add-answer"
                    (click)="addAnswer(i)">
              <mat-icon>add</mat-icon>
              Add answer
            </button>
          </div>
        </div>
        <button mat-raised-button color="accent" class="add-question"
                (click)="addQuestion()">
          <mat-icon>add</mat-icon>
          Add question
        </button>
      </div>

    </div>
  </form>
</div>
