<mat-card class="container">
  <mat-card-header class="title">{{survey.title}}</mat-card-header>
  <mat-card-content class="content">
    <p>
      <b>Category:</b>
      {{survey.category}}
    </p>
    <p>
      <b>Description:</b>
      {{survey.description}}
    </p>
    <p>
      <b>Author:</b>
      {{survey.createdBy}}
    </p>
  </mat-card-content>
  <mat-card-actions class="take-survey-button">
    <button mat-raised-button *ngIf="!hideButton"
            color="primary"
            (click)="takeSurvey()"
    >Take survey!
    </button>
    <button mat-raised-button
            (click)="viewResults()"
    >View Results!
    </button>
  </mat-card-actions>
</mat-card>
